<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <title>Homepage</title>
</head>
<body>
<main>
    <section>
        <select id="album-list" onchange="getItem()">
            <option th:each="album: ${albums}" th:text="${album.title}" th:value="${album.id}"></option>
        </select>
        <div>
            <h2>Create New Album</h2>
            <div th:each="album: ${albums}">
                <form class="album-forms" th:action="@{/create}" method="post">
                    <input name="id" th:value="${album.id}" type="hidden"><br/>
                    <img th:src="${album.imageUrl}"/></br>
                    <label th:for="${'song-title-'+album.id}">Title</label>
                    <input th:id="${'song-title-'+album.id}" name="title" th:value="${album.title}"><br/>
                    <label th:for="${'song-artist'+album.id}">Artist</label>
                    <input th:id="${'song-artist'+album.id}" name="artist" th:value="${album.artist}"><br/>
                    <label th:for="${'song-songs'+album.id}">Songs</label>
                    <input th:id="${'song-songs'+album.id}" name="songCount" th:value="${album.songCount}"
                           type="number"><br/>
                    <label th:for="${'song-duration'+album.id}">Duration</label>
                    <input th:id="${'song-duration'+album.id}" name="length" th:value="${album.length}"
                           type="number"><br/>
                    <label th:for="${'song-duration'+album.id}">URL</label>
                    <input th:id="${'song-duration'+album.id}" name="imageUrl" th:value="${album.imageUrl}"><br/>
                    <a th:href="${'/song/' + album.id}">See List of Songs</a>
                    <input type="submit" value="Create"/>
                    <input type="submit" th:formaction="@{/edit}" value="Edit">
                    <input type="submit" th:formaction="@{/delete}" value="Delete">
                </form>
            </div>
        </div>
    </section>
</main>
<script src="/javascript/app.js"></script>
<script>window.addEventListener("DOMContentLoaded", getItem(), false)</script>
</body>
</html>
